
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "./styles/common.css";
@import "tailwindcss";
:root {
  --white: #FFFFFF;
  --black: #000000;
  --accent-orange-100:#F79420;
  --clr-neutral-1000: #0C0C0C;
  --clr-neutral-950: #333448;
  --clr-neutral-900: #2E2F2E;
  --clr-neutral-800: #646665;
  --clr-primary-100: #3A643B;
  
  
  --bg-pink: #FFF7E2;
  --bg-light-pink: #FDEAD2;
  --bg-light-gray: #D2D9D2;

  --button-clr:#3A643B;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  --font-family2: "DM Sans", sans-serif;
  --ff:  "Nunito", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,*::before,*::after{
  transition: all 0.5s ease-in-out;
}
a {
  font-weight: 500;
  color: var(--clr-neutral-1000);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.7;
  background-color: var(--bg-pink);
  color: var(--clr-neutral-1000)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Nunito", sans-serif;
}

button {
  border-radius: 32px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--button-clr);
  cursor: pointer;
  transition: border-color 0.25s;
  color:var(--white);
  @media screen and (min-width: 992px) {
    border-radius: 16px;
     font-size: 1rem;
  }
}

button:hover {
  border-color: #646cff;
}
button.transparent {
  background-color: transparent;
  border: 1px solid #3A643C80;
  color:#3A643C;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
input{
  color: var(--clr-neutral-900)
}
input::placeholder{
  color:var(--clr-neutral-900)
}
.slick-prev:before, .slick-next:before{
  display: none;
}
main{
  padding-bottom: 4rem;
}
img{
  display: block;
}
.ingredients-info{
  font-family: "Nunito", sans-serif;
}
@media (prefers-color-scheme: light) {
 

 
}